papers/2015 Ambrosini IJCARS Continuous roadmapping in liver TACE procedures using 2D–3D catheter-based registration.pdf
papers/2017 Ambrosini MICCAI/2017 Ambrosini MICCAI Fully Automatic and Real-Time Catheter Segmentation in X-Ray Fluoroscopy.pdf
papers/2017 Ambrosini TMI/hmmWorkflowHD.jpg
papers/2017 Ma MICCAI
papers/2020 Ambrosini/2020 Ambrosini Automated Detection of Cribriform Growth Patterns in Prostate Histology Images.pdf